*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body
{
    font-family: 'Times New Roman', Times, serif;
    background-color: #F5CBA7;
    width: 100%;
    height: auto;
    color: #323838;
    font-size: 1.3vw;
}
/* 
.heading
{
    max-width: 750px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 40%;
     
} */

.main
{
    padding: 0% 20% 0% 20%;

}

#titile
{
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.2;
    padding: .6rem;
}


#description
{
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.2;
    padding: .6rem;
}


#survey-form
{
    background-color: rgb(184, 189, 178);
    border-radius: 7px;
    padding: 3rem 2.5rem;
}


#submit {
    background: #535c57;
    color: rgb(48, 44, 44);
    padding: .7rem;
    font-size: 1.15rem;
    cursor: pointer;
    width: 100%;
  }


  #submit:hover {
    background: rgb(100, 55, 65);
  }


  .form {
    width: 100%;
    padding: .7rem;
    border-radius: 6px;
    font-size: 1.0rem;
    border: none;
  }
  
  @media only screen and (max-width:480px){

    #main {
      padding: 0% 0% 0% 0%;
      }
    }
















































































